<!DOCTYPE html>
<html>
    <head>
        <title>Julie's Career Corner</title>
        <link rel="stylesheet" href="static/style.css">
    </head>

    <body>

        <div id="container">
            <h1>Careers</h1>
            <img id="banner-img" src="static/cliff.jpg">

        
            <h2>About Julie</h2>
            <p>
                In vel lobortis nulla. Donec viverra aliquet nibh a tempus. 
                Cras dolor purus, egestas a pharetra nec, fermentum et augue. 
                Maecenas turpis arcu, tincidunt ac velit in, ultrices sagittis 
                nibh. Ut vitae dolor ac neque iaculis vehicula at at justo. 
                Sed ut cursus libero, non porttitor nisl. Nulla pulvinar metus 
                id interdum blandit. Cras at elit quam. Nam pharetra ut justo 
                nec faucibus. Cras at luctus lacus. Nullam mattis leo augue, 
                ut interdum nisi porta ut.
            </p>

            <h2>Open Positions</h2>
            <p>TODO - Show jobs here</p>

            <button>Contact us!</button>
        </div>

    </body>
</html>